{
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"semi": "error",
		"quotes": ["warn", "single"],
		"camelcase": "error",
		"func-names": "warn",
		"linebreak-style": ["error", "unix"],
		"brace-style": "warn",
		"curly": "off",
		"consistent-this": "error",
		"default-case": "error",
		"guard-for-in": "warn",
		"no-console": "off",
		"no-var": "warn",
		"no-eval": "error",
		"no-with": "error",
		"no-void": "error",
		"no-alert": "warn",
		"no-proto": "warn",
		"no-bitwise": "warn",
		"no-continue": "warn",
		"no-loop-func": "error",
		"no-throw-literal": "warn",
		"no-nested-ternary": "warn",
		"no-confusing-arrow": "warn",
		"no-new-wrappers": "warn",
		"no-new-object": "warn",
		"no-new-func": "warn",
		"no-array-constructor": "warn",
		"no-extend-native": "error",
		"no-invalid-this": "error",
		"no-implicit-coercion": "error",
		"no-implicit-globals": "error",
		"no-implied-eval": "error",
		"no-useless-call": "warn",
		"no-useless-return": "warn",
		"no-unused-vars": "warn",
		"no-unused-expressions": "error",
		"no-unneeded-ternary": "warn",
		"no-trailing-spaces": "warn",
		"no-multi-spaces": "warn",
		"no-multiple-empty-lines": "warn",
		"max-len": ["warn", {
			"code": 90,
			"tabWidth": 2,
			"ignoreUrls": true
		}],
		"max-lines": ["warn", 150],
		"max-depth": ["warn", 3],
		"max-nested-callbacks": ["warn", 2],
		"max-params": ["warn", 3],
		"space-before-blocks": "warn",
		"spaced-comment": "warn",
		"prefer-const": "warn",
		"prefer-arrow-callback": "warn",
		"prefer-rest-params": "warn",
		"prefer-spread": "warn",
		"prefer-template": "warn",
		"array-bracket-spacing": "warn",
		"array-callback-return": "error",
		"arrow-parens": "warn",
		"newline-after-var": "warn",
		"newline-before-return": "warn",
		"new-cap": "error",
		"new-parens": "warn"
	}
}